/* Variables */

$large-breakpoint: 700px;

$font-color-base: #D4CDC4; //white;

$html-bgcolor: #1F2C3E; // #e0e0e0;
$font-color: transparentize($font-color-base, 0.2);

$hx-color: #B15050; //#9B7272; //#058;

$button-color: #D4CDC4;
$button-color-hover: lighten($font-color, 30%);
$button-bgcolor: #6D4C4C; //#17B;
$button-bgcolor-hover: lighten($button-bgcolor, 15%); //#9B7171; //#17B;

$input-bgcolor: #D4CDC4;

$link-color: $font-color;
$link-color-hover: lighten($font-color, 30%);
$link-bgcolor: #444;
$link-bgcolor-hover: lighten($link-bgcolor, 15%); //#555;

$main-bgcolor: #202020;

$nav-bgcolor: #333F4F;
$nav-bgcolor-hover: #687486;

$-transition-type: ease-in 0.1s;
$all-transition: all $-transition-type;
$allcolors-transition: color $-transition-type, background-color $-transition-type;
$bgcolor-transition: background-color $-transition-type;