html {
	background-color: #e0e0e0;
	font-family: Arial, Helvetica, sans-serif;
	color: #222;
	font-size: 16px;
}

@media (min-width: 700px) {
	html { 
		font-size: 15px;
	}
}

body {
	margin: 0;
	width: 100%;
}

.test {
	list-style: none;
}

a {
	color: #222;
	text-decoration: none;
	background-color: #AFDAFD;
	padding: 2px;
}
	
	a:hover {
/*		color: #163;
		text-shadow: 0 0 1px #eee;*/
		background-color: #7FC9FF;
		/*color: white;*/
	}

button {
	color: #eee;
	background-color: #17B;
	border: none;
	padding: 0.5em;
}

	button:hover {
		background-color: #0E679E;
		transition: background-color ease-in 0.2s;
	}

input {
	padding: 2px;
	font-size: 0.8rem;
    border: 1px solid #eee;
}