blog-toast {
	& {
		position: absolute;
		top: -130px;
		/* height + 2*padding */
		left: 50%;
		transform: translate(-50%, 0);
		z-index: 200;
		transition: top 300ms ease-in-out;
		cursor: pointer;
	}
	
	&.show {
		top: 0px;
		transition: top 300ms ease-in-out;
	}
	
	.toast {
		padding: 15px;
		min-width: 200px;
		max-width: 500px;
		max-height: 100px;
		border-width: 1px;
		border-style: none solid solid solid;
	}
	
	.success {
		color: green;
		border-color: green;
		background-color: #aea;
	}
	
	.warning {
		color: #e50;
		border-color: #e50;
		background-color: #fd7;
	}
	
	.error {
		color: darkred;
		border-color: darkred;
		background-color: lightcoral;
	}
	
	.info {
		color: white;
		border-color: lightblue;
		background-color: #4ae;
	}
}